*{padding: 0;margin: 0;}
body{
	overflow: hidden;
	background: url('../images/body_bg.jpg');
	background-size: 100%;
}
#box{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transform: perspective(500px) rotateY(45deg) rotateX(45deg);
	transform-style: preserve-3d;
	animation: Rotate 5s linear infinite;
}
#box div{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 200px;
	background-size: cover;
}
.front{
	background: url('../images/6.jpg') no-repeat;
	transform: translateZ(100px);
}
.back{
	background: url('../images/6.jpg') no-repeat;
	transform: translateZ(-100px);
}
.left{
	background: url('../images/6.jpg') no-repeat;
	transform: translateX(-100px) rotateY(90deg);
}
.right{
	background: url('../images/6.jpg') no-repeat;
	transform: translateX(100px) rotateY(-90deg);
}
.top{
	background: url('../images/6.jpg') no-repeat;
	transform: translateY(100px) rotateX(90deg);
}
.bottom{
	background: url('../images/6.jpg') no-repeat;
	transform: translateY(-100px) rotateX(-90deg);
}
.front2{
	background: url('../images/6.jpg') no-repeat;
	transform: translateZ(200px);
}
.back2{
	background: url('../images/6.jpg') no-repeat;
	transform: translateZ(-200px);
}
.left2{
	background: url('../images/6.jpg') no-repeat;
	transform: translateX(-200px) rotateY(90deg);
}
.right2{
	background: url('../images/6.jpg') no-repeat;
	transform: translateX(200px) rotateY(-90deg);
}
.top2{
	background: url('../images/6.jpg') no-repeat;
	transform: translateY(200px) rotateX(90deg);
}
.bottom2{
	background: url('../images/6.jpg') no-repeat;
	transform: translateY(-200px) rotateX(-90deg);
}
.out{
	opacity: 0.7;
	display: none;   
	box-shadow: 0 0 50px #fff;
}